body{
    font-family: "Plus Jakarta Sans", sans-serif !important; /*important is used to override the default font-family of the body which is .. */ 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}

.navbar{
    height: 5rem;
    background-color: white;
}

.fa-airbnb{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important; /*important is used to override the default color of the link which is .. */
}

.f-info-link a{
    text-decoration: none;
    color: #222222;
}

.f-info-link a:hover{
    text-decoration: underline;  
}

.f-info-link,
.f-info-socials,
.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}


.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{ 
    border-radius: 1rem !important; /*!important is used to override the default border-radius of the image which is 0*/
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none !important;   
}

/* Card Effect*/

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}


/* New Page */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}
/* Edit Page */
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Show Page */
.show-img{
    height: 30vh;
    /* object-fit: cover; */
}

.btns{
    display: flex;
    /* gap: 1rem; */
}
/* .show-card{
    padding-left:0 !important;
    padding-right:0 !important;
} */


#map {
    height: 400px;
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}